/* Correction au css du component InfoAppart */

.info {
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
}

.info_titleAppart {
    width: 60%;
}

.proprio {
    display: flex;
    align-items: center;
}

.profilPicture {
    border-radius: 50%;
    height: 80px;
}

.appTitle {
    margin: 0;
    color: #ff6060;
    font-size: 2.3em;
}

.proprio p {
    font-size: 1.2em;
    white-space: wrap;
    margin: 0 20px;
}

/* Tablette */
@media (max-width: 1024px) {
    .info {
        margin: 20px 50px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
        margin: 20px;
        /* height: 150px; */
    }
    .info_titleAppart, .info_NameRatio {
        width: 100%;
    }
    .info_NameRatio {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .rating_note img {
        width: 20px;
    }
    .info_NameRatio p {
        font-size: 16px;
    }
    .info_NameRatio img {
        height: 50px;
    }
}