/* Correction au css du component InfoAppart */

.info {
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
}

.info_titleAppart {
    width: 60%;
}

.info_titleAppart p {
    font-weight: 600;
    line-height: 142.6%; /* 25.668px */
}

.proprio {
    display: flex;
    align-items: center;
}

.profilPicture {
    border-radius: 50%;
    height: 80px;
}

.appTitle {
    margin: 0;
    color: #ff6060;
    font-size: 2.3em;
}

.proprio li {
    font-size: 1.2em;
    white-space: wrap;
    margin: 0 20px;
}

.info_titleAppart-tags {
    border-radius: 10px;
    background: #FF6060;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.rating_note {
    margin: 20px 0 0 0;
}

.rating_note img {
    margin-right: 5px;;
}

/* Tablette */
@media (max-width: 1024px) {
    .info {
        margin: 20px 50px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
        margin: 20px;
        /* height: 150px; */
    }
    .info_titleAppart, .info_NameRatio {
        width: 100%;
        margin: 10px 0;
    }
    .info_NameRatio {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .rating_note img {
        width: 20px;
    }
    .info_NameRatio p {
        font-size: 16px;
    }
    .info_NameRatio img {
        height: 48px;
    }
    .rating_note {
        margin: 0;
    }
}