/* Css pour le composant SlideShow */

.slideShow {
    height: 350px;
    overflow: hidden;
    margin: 20px 80px;
    box-sizing: border-box;
    border-radius: 25px;
    position: relative;
}

.slideShow_img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.slideShow_nb {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 120px;
    position: absolute;
    color: white;
    top: 50%;
    transform: translate( -50%, -50% );
}

.fa-chevron-left {
    left: 8%;
}

.fa-chevron-right {
    right: 0;
}

/* Tablette */
@media (max-width: 1024px) {
    .slideShow {
        margin: 20px 50px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .slideShow {
        margin: 0 20px;
        height: 250px;
    }
    .slideShow i {
        font-size: 50px;
    }
}